@font-face {
  font-family: 'roboto_slabregular';
  src: url('robotoslab-regular-webfont.eot');
  src: url('robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'), url('robotoslab-regular-webfont.woff') format('woff'), url('robotoslab-regular-webfont.ttf') format('truetype'), url('robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('HelveticaNeue-Thin.otf');
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Helvetica', serif;
}
a {
  text-decoration: none;
  list-style-type: none;
}
a:hover {
  color: none;
}
ul li {
  list-style-type: none;
}
.wrapper {
  margin: 0 auto;
  width: 1170px;
}
.cover {
  position: relative;
}
.yourimage {
  position: absolute;
  left: 200px;
  top: 303px;
}
.yourimage img {
  width: 219px;
  height: 211px;
  border: 8px solid #ffffff;
  border-radius: 119px;
}
.about {
  position: absolute;
  width: 600px;
  left: 440px;
  top: 360px;
}
.about .name {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  border-right: 2px solid #ffffff;
  height: 40px;
  font-size: 34px;
  font-weight: bold;
  width: 165px;
}
.about .desig {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 20px;
  padding: 0px 0px 0px 10px;
}
.content2 {
  color: #ffffff;
  padding-bottom: 95px;
}
.content2 .nav {
  margin: 95px 0px 0px 95px;
  padding: 25px 0px 0px 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.content2 .nav ul li {
  padding: 0px 0px 20px 0px;
  position: relative;
  text-color: #616365;
}
.content2 .nav ul li span {
  color: #393e42;
  left: 10px;
  position: relative;
}
.content2 .nav .lines {
  position: absolute;
  left: 65px;
  top: 94px;
}
.content2 .hello {
  color: #494f55;
  width: 700px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 95px;
}
.content2 .hello .htxt1 {
  color: #494f55;
  font-size: 36pt;
}
.content2 .hello .htxt1 span {
  position: relative;
  left: 10px;
}
.content2 .hello .tpara {
  color: #70777d;
  width: 690px;
}
.content2 .hello .tpara p {
  text-align: justify;
  line-height: 1.5;
}
.content2 .parent {
  overflow: hidden;
}
.content2 .parent .childleft {
  margin: 0px 0px 0px 95px;
  padding: 0px 0px 0px 95px;
  float: left;
}
.content2 .parent .childleft ul {
  margin-left: 95px;
}
.content2 .parent .childleft ul li {
  cursor: pointer;
  background-color: #70777d;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  height: 20px;
  width: 20px;
}
.content2 .parent .childright {
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-right: 160px;
  font-family: 'Brush Script MT', cursive;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #494f55;
}
.aphorism {
  background-color: #616365;
  padding: 30px;
}
.aphorism .quotes {
  color: #ffffff;
  font-size: 24pt;
  margin: 0px 0px 0px 95px;
  padding: 0px 0px 0px 58px;
}
.aphorism .victor {
  color: #ffffff;
  float: right;
  font-size: 14pt;
}
.skills {
  background-color: #393e42;
}
.skills .skillshead {
  color: #ffffff;
  font-size: 16pt;
  padding: 20pt;
  text-align: center;
}
.skills ul {
  text-align: center;
}
.skills ul li {
  list-style-type: none;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid black;
  border-right-style: dotted;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.skills ul li .design {
  border: 1px solid #ffffff;
  border-radius: 70px;
  height: 120px;
  width: 120px;
  border-color: #939585;
  margin: 0px 50px 0px 50px;
}
.skills ul li .design img {
  padding: 15px 0px 0px 1px;
}
.skills ul li .design:hover {
  border-color: #7f7c71;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.skills ul li .dt1 {
  color: #ffffff;
  padding: 5px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  display: block;
  font-weight: 600;
}
.skills ul li .dt2 {
  display: block;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
.skills .quick {
  color: #939585;
  font-size: 20pt;
  margin: 50px 0px 0px 0px;
  padding: 20px 20px 50px 20px;
  text-align: center;
}
.skills .quick span {
  color: #ffffff;
}
.workgroup {
  background: url('../images/workbg.png');
  padding: 0px 0px 30px 0px;
}
.workgroup .workt {
  color: #b5b6b7;
  text-align: center;
  font-size: 20pt;
  padding: 35px 0px 50px 0px;
}
.workgroup .wimglist {
  text-align: center;
}
.workgroup .wimglist img {
  padding: 0px 10px 10px 10px;
}
.workgroup .wbtm {
  text-align: center;
  padding: 10px 0px 0px 0px;
}
.workgroup .wbtm .we1 {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px 0px 0px;
}
.workgroup .wbtm .we2 {
  display: inline-block;
  vertical-align: middle;
}
.contactg {
  background-color: #393e42;
  podding: 0px 0px 50px 0px;
}
.contactg .contact {
  color: #ffffff;
  text-align: center;
  padding: 30px 0px 30px 10px;
  font-size: 18pt;
}
.contactg .cparent {
  overflow: hidden;
}
.contactg .cparent .cleft {
  float: left;
  width: 441px;
  padding: 0px 0px 50px 0px;
  display: inline-block;
  vertical-align: middle;
}
.contactg .cparent .cleft .ct1 {
  color: #aba2a2;
}
.contactg .cparent .cleft .ct2 {
  color: #ffffff;
  font-size: 16pt;
  padding: 10px 0px 10px 0px;
}
.contactg .cparent .cleft .ct3 {
  color: #ffffff;
  padding: 10px 0px 10px 0px;
}
.contactg .cparent .cleft .contactform .t1 {
  background-color: #393e42;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  color: white;
  height: 30px;
  width: 441px;
  padding: 10px 0px 5px 0px ;
  text-color: #bebfc0;
  outline-color: #393e42;
}
.contactg .cparent .cleft .contactform .t1:focus {
  outline-color: none;
}
.contactg .cparent .cleft .contactform .sub {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: red;
  border-width: 0;
  padding: 10px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  outline: none;
}
.contactg .cright {
  float: right;
  margin: 0px 60px 0px 0px;
  display: inline-block;
  vertical-align: middle;
}
