@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

.logo{height:100px;display: inline-block;}

#training{
	background-color:#ffffff;
}
#training h2, #training  p{
	color:#212529 !important;
}
#training  p{
	color:#6c757d !important;
}
#mainNav {
    border-color: transparent;
    background-color: #ffffff;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover{color:#f05f40 }
#mainNav .navbar-brand {
    color: #f05f40;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover{color: #f05f40; }
#mainNav .navbar-brand span{ 
	margin-left:85px;
	color: #212529;
}

header.masthead{
	height:auto;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.hlogo {
    position: absolute;
    bottom: -35px;
    left: 15px;
}
.hlogo img{
	width: 565px;
	-webkit-box-shadow: 0px 6px 5px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 5px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 5px 5px rgba(0,0,0,0.75);
}
.portfolio-box{cursor: default;}
.popup-gallery>div{height: 360px;}
/*Media Queries*/
@media only screen and (max-width: 991px) {

  header.masthead{padding-top: 425px !important;}
#portfolio > div > div > div:nth-child(3) > a{margin-top: 25px !important;}
}

@media only screen and (max-width: 640px) {
	#portfolio > div > div > div:nth-child(3) > a{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	.hlogo{left:0;}
	#mainNav .navbar-brand span{margin-left: 0;}
	.hlogo img {
	    width: 70%
	}
}
@media only screen and (max-width: 460px) {
	.navbar-brand{ font-size: 0.8em;}
	.logo { height: 80px;}
}
